{% extends 'base.html' %}
{% load static %}

{% block title %}  {% endblock %} 

{% block content %}
<!-- Page Title Section Start -->
<div class="page-title-section section section-padding-top" data-bg-color="#000" data-overlay="0.7">
    <div class="page-breadcrumb position-static">
        <div class="container">
            <ul class="breadcrumb justify-content-center">
                <li><a href="/">Home</a></li>
                <li class="current">{{title}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Title Section End -->

<!-- About Section Start -->
<div class="section section-padding-top section-padding-bottom-190">
    <div class="container">

        <!-- About Wrapper Start -->
        <div class="row">

            <!-- About Image Area Start -->
            <div class="col-xl-7 col-lg-6 col-12" data-aos="fade-up">
                <div class="about-image-area">
                    <div class="about-image js-tilt">
                        <img src="{% static 'images/dar.jpg' %}" alt="Image">
                    </div>
                </div>
            </div>
            <!-- About Image Area Start -->

            <!-- About Start -->
            <div class="col-xl-5 col-lg-6 col-12 bg-dark" data-aos="fade-up">
                <div class="col-md-12 mb-6" data-aos="fade-up">
                    <!-- Contact Information Start -->
                    <div class="contact-info" data-vivus-hover>
                        <div class="icon">
                            <img class="svgInject" src="{% static 'images/svg/linea/linea-basic-map.svg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 class="title text-light">Our Locations</h3>
                            <span class="info-text text-light"> 5 Bains Avenue, Masaki                                    
                                 <br>
                                 ,Dar es salaam.</span>
                        </div>
                    </div>
                    <!-- Contact Information End -->
                </div>
                <div class="col-md-12 mb-6" data-aos="fade-up">
                    <!-- Contact Information Start -->
                    <div class="contact-info" data-vivus-hover>
                        <div class="icon">
                            <img class="svgInject" src="{% static 'images/svg/linea/linea-basic-mail-open-text.svg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 class="title text-light"> Email</h3>
                            <span class="info-text text-light">
                                <a href="mailto:info@ssc.co.tz">info@ssc.co.tz
                                </a>  
                            </span>
                        </div>
                    </div>
                    <!-- Contact Information End -->
                </div>
            </div>
            <!-- About Start -->

        </div>
        <!-- About Wrapper End -->

    </div>
</div>
<!-- About Section End -->


{% endblock %}