{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}  {% endblock %} 

{% block content %}
<!-- Page Title Section Start -->
<div class="page-title-section section section-padding-top" data-bg-color="#000" data-overlay="0.7">
    <div class="page-breadcrumb position-static">
        <div class="container">
            <ul class="breadcrumb justify-content-center">
                <li><a href="/">Home</a></li>
                <li class="current">{{title}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Title Section End -->

<!-- Team Section Start -->
<div class="section section-padding" data-bg-color="#f8faff">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title text-center mb-12" data-aos="fade-up">
            <h2 class="title">OUR TEAM</h2>
        </div>
        <!-- Section Title End -->

        <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1 mb-n6">

            <div class="col mb-6">
                <!-- Single Team Start -->
                <div class="team">
                    <div class="thumb">
                        <img src="{% static 'images/awadh.jpeg' %}" alt="team Images">
                        <div class="overlay"></div>
                        <ul class="social-icon text-center">
                            <li class="facebook"><a href="#" class="link" aria-label="Facebook"><i class="fab fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#" class="link" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="instagram"><a href="#" class="link" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info">
                        <div class="info">
                            <h5>SALUM AWADH</h5>
                            <span>FOUNDER & CIO</span>
                            <ul class="agency-list">
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">MBA (Finance)</div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">CGIA, CIMA, CVI, Empretec
                                        </div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Certified in Private Equity and
                                        Venture capital, innovative and impact finance, Islamic finance, and corporate governance</div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">More than 10 years in finance, investment, and business
                                        development</div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Launched more than five (5)
                                        businesses</div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Have been involved in advisory and
                                        capital raising in excess of $300m</div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Mentoring and coaching dozen of
                                        startups currently</div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Launched more than five (5)
                                        businesses</div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Currently, CEO of SSC Capital</div>
                                </li>
                            </ul> 
                        </div>
                    </div>
                </div>
                <!-- Single Team Start -->
            </div>

            <div class="col mb-6">
                <!-- Single Team Start -->
                <div class="team">
                    <div class="thumb">
                        <img src="{% static 'images/athenkosi.jpeg' %}" alt="team Images">
                        <div class="overlay"></div>
                        <ul class="social-icon text-center">
                            <li class="facebook"><a href="#" class="link" aria-label="Facebook"><i class="fab fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#" class="link" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="instagram"><a href="#" class="link" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info">
                        <div class="info">
                            <h5>ATHENKOSI PETER</h5>
                            <span>HEAD, STRATEGY</span>
                            <ul class="agency-list">
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Athi serves as an executive director and is the founder of Arushvest Capital.</div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Prior to Arushvest, he worked for a real estate and hospitality conglomerate based in Dar es Salaam
                                        </div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">His transaction experience includes acquisitions, debt and equity capital markets and structuring</div>
                                </li>
                            </ul> 
                        </div>
                    </div>
                </div>
                <!-- Single Team Start -->
            </div>

            <div class="col mb-6">
                <!-- Single Team Start -->
                <div class="team">
                    <div class="thumb">
                        <img src="{% static 'images/ally.jpeg' %}" alt="team Images">
                        <div class="overlay"></div>
                        <ul class="social-icon text-center">
                            <li class="facebook"><a href="#" class="link" aria-label="Facebook"><i class="fab fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#" class="link" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="instagram"><a href="#" class="link" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info">
                        <div class="info">
                            <h5>ALLY BUKUKU</h5>
                            <span>CFO</span>
                            <ul class="agency-list">
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Msc Finance and Investment
                                        CPA</div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Successful in analysis and management of accounts and finances, a senior finance professional with over 10 years of experience in compliance, budgeting, financial forecasting, managing operations and administration of business. 
                                        A good background in auditing and champion of value for money analysis in every step of the organizational activities and operations. 
                                        Successful in making strategic decisions as a member of senior management team, internal control system management, policy review and interpretation, procurement, staff and inventory management. 
                                        </div>
                                </li>
                            </ul> 
                        </div>
                    </div>
                </div>
                <!-- Single Team Start -->
            </div>
            
            <div class="col mb-6">
                <!-- Single Team Start -->
                <div class="team">
                    <div class="thumb">
                        <img src="{% static 'images/nasma.jpeg' %}" alt="team Images">
                        <div class="overlay"></div>
                        <ul class="social-icon text-center">
                            <li class="facebook"><a href="#" class="link" aria-label="Facebook"><i class="fab fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#" class="link" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="instagram"><a href="#" class="link" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info">
                        <div class="info">
                            <h5>NASMA KWEKA</h5>
                            <span>INVESTMENT ANALYST</span>
                            <ul class="agency-list">
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Advanced Diploma - Taxation</div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Succesful in analyzing startups, developing financial models, business development.
                                        </div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Client relationship, business analytics, and operations</div>
                                </li>
                            </ul> 
                        </div>
                    </div>
                </div>
                <!-- Single Team Start -->
            </div>
            <div class="col mb-6">
                <!-- Single Team Start -->
                <div class="team">
                    <div class="thumb">
                        <img src="{% static 'images/dp.jpg' %}" alt="team Images">
                        <div class="overlay"></div>
                        <ul class="social-icon text-center">
                            <li class="facebook"><a href="#" class="link" aria-label="Facebook"><i class="fab fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#" class="link" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="instagram"><a href="#" class="link" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info">
                        <div class="info">
                            <h5>ABDULRAHMAN SUDY</h5>
                            <span>RISK & BUSINESS ANALYST</span>
                            <ul class="agency-list">
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Bachelor of Micro-finance and Enterprise Development (BA-MFED)
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Corporate experience with business and data analytics.
                                        </div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Worked as a consultant and supporting startups in business modelling </div>
                                </li>
                            </ul> 
                        </div>
                    </div>
                </div>
                <!-- Single Team Start -->
            </div>
            <div class="col mb-6">
                <!-- Single Team Start -->
                <div class="team">
                    <div class="thumb">
                        <img src="{% static 'images/dp.jpg' %}" alt="team Images">
                        <div class="overlay"></div>
                        <ul class="social-icon text-center">
                            <li class="facebook"><a href="#" class="link" aria-label="Facebook"><i class="fab fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#" class="link" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="instagram"><a href="#" class="link" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info">
                        <div class="info">
                            <h5>SALIM BHARWANI</h5>
                            <span>CONSULTANT, M&A Corporate Lawyer</span>
                            <ul class="agency-list">
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">LLB, MBA
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">Previously worked for DLA Piper, Royal Bank of Scotland, Bryan Cave, Clyde & Co
                                        </div>
                                </li>
                                <li class="item">
                                    <div class="icon">
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <div class="text">A corporate lawyer and high academic achiever with extensive emerging markets experience of East Africa having lived and worked in Kenya, Uganda and Tanzania. Effective problem solver, project manager, passionate about adding value</div>
                                </li>
                            </ul> 
                        </div>
                    </div>
                </div>
                <!-- Single Team Start -->
            </div>

        </div>
    </div>
</div>
<!-- Team Section End -->
{% endblock %}